.slidebarAndOtherFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.CentralItems{
    display: flex;
    flex-direction: column;
    width: 77%;
    height: 100%;
    margin: 1%;
    flex-wrap: nowrap;
}
