.trendingBookQueueDiv{
    width: 98%;
    margin: 1%;
    /* height: 20%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /* min-height: 100px; */
    align-content: flex-start;
}
.trendingBookQueue{
    width: 78%;
    margin: 1%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 210px);
    row-gap: 100px;
    column-gap: 3px;
    justify-content: space-between;
    grid-auto-flow: dense;
}

.arrowDiv{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}